:root {
    --primary-blue: #1f203c;
    --accent-red: #F60502;
    --light-bg: #F5FDF5;
    --text-dark: #222222;
    --text-light: #ffffff;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--primary-blue);
    color: var(--text-dark);
    line-height: 1.6;
}